#d1 {
  max-width: 650px;
  margin: auto;
  margin-top: 10%;
  text-align: justify;
  text-align: center;
}
#p1 {
  font-family: Arial;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 35px;
}
#d2 {
  margin: auto;
  margin-top: 5%;
  text-align: center;
}
#p2 {
  font-family: Times;
  font-weight: bold;
  font-style: oblique;
  font-size: 15px;
}
body {
  background: url("assets/freedom.jpg") no-repeat center center fixed;
  background-size: cover;
}